.env
.env.*
*.bak
certs
acme.d
xversion.go
*_vfsdata.go

/cmd/dnsclient/dnsclient
/cmd/iplist/iplist
/cmd/machineid/machineid
/cmd/mgmt/mgmt
/cmd/signjwt/signjwt
/cmd/sqlstore/sqlstore
/cmd/telebit/telebit
/cmd/wsserve/wsserve
/cmd/wsconnect/wsconnect
/telebit-mgmt
/mgmt
/signjwt
/telebit

/dist/
*.zip
.*.sw*
log.txt
*.log
.DS_Store
*.exe
