.env
.env.*
certs
acme.d
xversion.go

/mplexer/cmd/telebit/telebit
/telebit
/cmd/telebit/telebit
/telebitd
/cmd/telebitd/telebitd
/telebit-relay
/cmd/telebit-relay/telebit-relay
*.exe

.*.sw*
log.txt
*.log
.DS_Store
*.exe
