.env
.env.*
*.bak
certs
acme.d
xversion.go
*_vfsdata.go

mgmt-server-linux
mgmt-server-macos
mgmt-server-windows-debug.exe
mgmt-server-windows.exe

telebit-client-linux
telebit-client-macos
telebit-client-windows-debug.exe
telebit-client-windows.exe

/cmd/machineid/machineid
/cmd/dnsclient/dnsclient
/cmd/sqlstore/sqlstore
/cmd/wsserve/wsserve
/cmd/wsconnect/wsconnect
/cmd/mgmt/mgmt
/cmd/signjwt/signjwt
/cmd/telebit/telebit

/telebit
/cmd/telebit/telebit
/telebit-relay
/telebit-relay-linux
/telebit-relay-macos
/cmd/telebit-relay/telebit-relay
/cmd/telebit-relay/telebit-relay-linux
/cmd/telebit-relay/telebit-relay-macos

.*.sw*
log.txt
*.log
.DS_Store
*.exe
