<div class="panel panel-default" data-ng-controller="serverController">
  <div class="panel-heading">
      <div class="panel-title">
          <div class="row">
            <div class="col-md-6">
                Servers
            </div>
            <div class="col-md-6">
                <form class="form-inline pull-right">
                    <div class="form-group">
                        <label for="search">Search:</label>
                        <input type="text" class="form-control" id="search">
                    </div>
                </form>
            </div>
          </div>
    </div>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-bordered">
        <th width="10%">ID</th>
        <th width="20%">Name</th>
        <th>Address</th>
        <th>Xfer (in/out)</th>
        <th>Time</th>

        <tr ng-repeat="s in servers | orderBy:'server_id'">
            <td>{{ s.server_id }}</td>
            <td>{{ s.server_name }}</td>
            <td>{{ s.source_address }}</td>
            <td>{{ s.bytes_in }}/{{ s.bytes_out}}</td>
            <td>{{ s.duration }}</td>
        </tr>

    </table>




  </div>
</div>