<div class="panel panel-default" data-ng-controller="statusController">
  <div class="panel-heading">
      <div class="panel-title">
          <div class="row">
            <div class="col-md-6">
                Status
            </div>
            <div class="col-md-6">
                <form class="form-inline pull-right">
                    <div class="form-group">
                        <label for="search">Search:</label>
                        <input type="text" class="form-control" id="search" data-ng-model="servers_search">
                    </div>
                    <button type="button" title="Refresh" class="btn btn-default" aria-label="Refresh">
                        <span class="glyphicon glyphicon-refresh" title="Refresh" aria-hidden="false" ng-click="updateView()"></span>
                    </button>
                </form>
            </div>
          </div>
    </div>
  </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4"> </div>
            <div class="col-md-8">Server Name: {{ status.name }} (Uptime: {{ status.uptime | hfcduration }}</div>
        </div>
        <div class="row">
            <div class="col-md-4"> </div>
            <div class="col-md-8">Administrative Domain: {{ status.admin_domain }} </div>
        </div>
        <div class="row">
            <div class="col-md-4"> </div>
            <div class="col-md-8">Server Domain: {{ status.wss_domain }} </div>
        </div>
        <div class="row">
            <div class="col-md-4"> </div>
            <div class="col-md-8">Default LB Method: {{ status.loadbalance_default_method }} </div>
        </div>
        <div class="row">
            <div class="col-md-4"> </div>
            <div class="col-md-8">Deadtime: dwell:{{ status.dead_time.dwell}} idle:{{ status.dead_time.idle}} cancel:{{ status.dead_time.cancel_check}}</div>
        </div>
    </div>
</div>


